body {
  padding: 1%;
  background-color: green;
}

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.left,
.right,
.center {
  float: left;
  width: 33%;
  color: white;
  padding: 10px;
  height: 500px;
  text-align: center;
}

.left {
  background-color: red;
}

.right {
  background-color: red;
}

.center {
  background-color: white;
  color: black;
}

.container:after {
  clear: both;
}